* {
    display: inline-flex;
    margin: 10px;
}

#one {
    width: 50vh;
    height: 10vh;
    background: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.250);
}
#two {
    width: 50vh;
    height: 10vh;
    background: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.250);
}
